PORT=''
MONGODB_URI=''
JWT_SECRET=''
CRYPTO_SECRET=''
SALT_ROUNDS=0

# Cloudinary configuration
CLOUDINARY_NAME=''
CLOUDINARY_CLIENT_ID=''
CLOUDINARY_SECRET=''

# Mailgun configuration
MAILGUN_API_KEY=''
MAILGUN_DOMAIN=''

FRONTEND_URL=''

# AI Bot 
AI_BOT_API_KEY=
AI_BOT_USER_ID=
